.about{
    background-color: darkred;
    color: forestgreen;
    font-size: large;
    font-family: monospace;
    padding-bottom: 20%;
}
.head{
    font-size: xx-large;
    margin-top: 5%;
    text-align: center;
    text-decoration: solid;
    color: hotpink;
}
.para4{
    font-size: x-large;
}
.para5{
    font-size: x-large;
}