.cntct{
    background-color: blue;
    float: left;
    margin-left: 3%;
    padding-right: 50%;
    padding-left: 2%;
}
.para1{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    
}