body{color:black;

 
 background-position: center bottom;
 background-repeat:repeat-y;
 background-attachment: fixed;

 
}
        table{background-color:rgb(255,199,200) ;
        font-family:cursive;
        width:80%;
        border-style: dotted dashed solid double;
        outline-style:dotted ;
        outline-color:blue ;
        outline-offset: 3px;
    }
        th{color:green;
        font-size:65%; 
    text-align: left;}
        td{color:white;
        font-size:100%;
        text-align: center;
    }
        h1{text-align:center;
            color: blue;
            text-decoration-line:underline ;
        text-decoration-color:green;
        text-decoration-style:double ;

    }
    
.double{padding-left: 15%;}
.solid{padding-top: 10%;}
.dotted{padding-right: 5%;}
/*#p1{opacity: 0.5 ;}*/
p.double{border-style: double;
outline-style:solid; 
outline-color: black;
outline-offset:5px ;
}
p.dotted{border-style: dotted;}
div.solid{border-style: solid;}
a{text-decoration: none;}
.sticky{
    position:-webkit-sticky;
    position: sticky;
    bottom:10;
    left:20;
    border: solid;
    color:red
}





