.container{
background-color: darkblue;
color:white;
padding-top: 8%;
padding-left: 8%;
padding-bottom: 15%;

}
.para{
    width: 25%;
    height:100%;
    float: left;
}
.para1{
    float: left;
    padding-left: 2%;
}
.para2{
    border-style: inset;
    background-color: grey;
    height:15%;
    width: 20%;
    font-size: xx-large;
}
.para3{
    padding-top: 5%;
    font-size: larger;
}
.para4{
    padding-left: 5%;.
    padding-top: 3%;
color: grey;
}
.para5{
    padding-left: 3%;
    color: grey;
}
.para6{
    padding-left: 3%;
    color: grey;
}
.para7{
    padding-left: 3%;
    color: grey;
}
.para8{
    padding-left: 3%;
    color: grey;
}
.para9{
    padding-left: 3%;
    color: grey;
}
.para10{
padding-top: 3%;
font-size:x-large;
}
.para11{
 padding-top: 3%;
 color: aqua;
}
.para12{
    
    color: aqua;
   }
.para13{
padding-top: 2%;
padding-left: 3%;
color: grey;
font-size: small;
}
.para14{
    padding-left: 3%;
    color:gray;
    font-size: small;
    }
    .para15{
 padding-left: 3%;
 color: grey;
 font-size: small;
 }
        .para16{
 padding-top: 3%;
color: aqua;
 }
 .para17{
color: aqua;
 }
.para18{ padding-left: 3%;
color: grey;
font-size: small;
 }

       .para19{ padding-left: 3%;
        color:grey;
        font-size: small;
        }
        .para20{
            color: aqua;
             }

        .para21{ padding-left: 3%;
            color: grey;
            font-size: small;
             }
             .para22{ padding-left: 3%;
                color: grey;
                font-size: small;
                 }
                 .para26{
                    color: aqua;
                     }
                     .para28{
                        color: aqua;
                         }

.para25{
    padding-top: 3%;
    font-size: larger;
    }
    .padding{
        padding-bottom: 85%;
    }
    .para27{

 color: grey;

 }
 .para30{

    color: grey;
   
    }
  

    .para31{
        padding-top: 3%;
        font-size: larger;
        }
        .para32{
            color: aqua;
             }
.para33{
color: grey;
}
.para34{
    color: grey;
    }
    
    .para35{
        color: grey;
        }
       .para36{
    color: grey;
    }
    .para37{
        color: grey;
        }
        .para38{
            color: grey;
            }
            
            
